Repository byglimps/api, pull requests merged in 2018-10, with the labels that each got.

#40 fix to event/slug issue for courier
  api/src/services/glimps.js
Labels: api

#45 removed countdown from phonePad screen
  mobile/.expo/packager-info.json
  mobile/components/Screens/GlimpsRetrieval/PhonePad.js
Labels: bug

#47 Fixes paging param parsing for mysql
  api/src/controllers/events.js
Labels: api, bug
